useDynLib(StatMethRank)
importFrom(Rcpp, evalCpp)
importFrom(rjags, jags.model)
importFrom(rjags, coda.samples)
importFrom(MASS, ginv)
importFrom(pmr, rankagg)
importFrom(pmr, destat)
import(graphics)
import(grDevices)
import(stats)
import(datasets)
import(utils)


export(agreement.test)
export(compatible.rankings)
export(freq2case)
export(case2freq)
export(generate.combs)
export(generate.perms)
export(incomplete.rankings)
export(independence.test)
export(interaction.test)
export(is.compatible)
export(repmat)
export(mvnos.model)
export(msci)
export(wdmat)
export(mwdbm)
export(decTreeImpFunc)
export(plotDecROC)
export(plotDecTree)
